html *, body *{
  box-sizing: border-box;
  font-family: Roboto;
}

html, body{
  margin: 0
}

.header{
  display: flex;
  justify-content: center;
  background: #009688;
  color: white;
}

#loading-icon-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6)
}
