
.location-search {
  border-radius: 5px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: stretch;
  margin: 1rem;

  *{
    border: none;
    font-size: 0.9rem;
  }

  .left-button {
    width: 20%;
    background: #00B0FF;
    color: white;
  }
  .input-wrapper{
    width: 60%;
    position: relative;
    display: inline-block;

    input{
      width: 100%;
      height: 100%;
      padding: 1rem;
    }

    label{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      padding: 1rem;
      margin: 0;
    }
  }

  .right-button {
    width: 20%;
    background: #00B0FF;
    color: white;
  }
}
