.map-container{
  margin-top: 1em;

  .truck-filter{
    width: 90vw;
    margin: auto;
  }

  .googleMap{
    display: flex;
    justify-content: center;

    .GMap-canvas{
      height: 50vh;
      width: 90vw;
      box-shadow: 0 3px 5px rgba(0,0,0,.26), 0 -3px 5px rgba(0,0,0,.26);
    }
  }
}
